:root {
  --box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.315);
  --icon--bars: scale(1);
  --icon--xmark: scale(0);
  --primary-color: #fff;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
}
/*CONTENEDOR*/
.container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "sidebar main section"
    "footer footer footer";
}
/*APARTADO NAVEGACIÓN*/
.navbar {
  grid-area: navbar;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 90%;
  padding: 0.5rem 2rem;
  box-shadow: -3px 7px 10px black;
  position: relative;
}
.navbar__logo {
  width: 160px;
}
.navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 6rem;
}
.navbar__icon {
  display: inline-block;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.navbar__input {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar__placeholder {
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
}
.navbar__title__content {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  gap: 1rem;
}
.navbar__title {
  border-bottom: solid 1px var(--primary-color);
  width: max-content;
}
/*APARTADO NAVEGACIÓN LATERAL */
.sidebar {
  grid-area: sidebar;
  min-width: 200px;
}
.sidebar__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
}
.sidebar__link {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.1rem;
  padding: 1rem 0;
}
.amount {
  color: #706e6b;
  font-weight: 400;
}
.sidebar__link:hover {
  opacity: 50%;
}
.sidebar__title {
  padding: 3rem 0;
  font-weight: 700;
}
/*APARTADO MAIN*/
.main {
  grid-area: main;
}
.main__cards {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0rem;
  justify-content: center;
  gap: 3rem;
}
.main__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(211 211 211);
  text-align: center;
  flex-basis: 320px;
  padding: 0.3rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  min-width: 300px;
}
.main__card__img {
  width: 100%;
  border-radius: inherit;
  height: 200px;
  object-fit: cover;
  box-shadow: var(--box-shadow);
}
.main__card__title {
  margin: 1rem 0;
}
.main__card__descripción {
  border-top: 1px solid black;
  padding: 1.5rem 0;
}
.main__card__precio {
  padding-bottom: 2rem;
  font-size: 1.3rem;
}
.main__card__link {
  display: block;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #434343;
  padding: 0.4rem 2rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  transition: 0.3s;
}
.main__card__link:hover {
  background-color: var(--primary-color);
  color: #434343;
}
/*APARTADO SECCIÓN*/
.section {
  grid-area: section;
}
.section__cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 3rem 0rem;
  align-items: center;
  gap: 3rem;
  max-width: 100%;
  padding: 0 2rem;
}
.section__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f0769;
  text-align: center;
  width: 270px;
  padding: 0.3rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}
.section__img {
  width: 150px;
  margin-bottom: 1rem;
}
.section__card__title {
  margin: 1rem 0;
  color: var(--primary-color);
  padding: 0 1rem;
}
.section__card2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%
  );
  text-align: center;
  width: 270px;
  padding: 0.3rem;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 3rem;
}
.section__card__link {
  display: block;
  text-decoration: none;
  font-size: 1.3rem;
  color: #000000;
  background-color: var(--primary-color);
  padding: 0.4rem 1.3rem;
  border-radius: 30px;
  margin-bottom: 1rem;
  font-weight: 700;
}
.section__card__link:hover {
  opacity: 50%;
}
/*APARTADO FOOTER*/
.footer {
  grid-area: footer;
  color: var(--primary-color);
  background-image: linear-gradient(to right, #111416 20%, #706e6b 100%);
  padding: 1.3rem 2rem;
  box-shadow: -3px -3px 15px black;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}
.footer__title {
  text-align: center;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: solid 1px #efeeec;
}

.footer__icon {
  font-size: 1.5rem;
}
.footer__logo {
  display: flex;
  width: 200px;
  margin: 0 auto;
  align-items: center;
}
.footer__section {
  display: flex;
  flex-direction: column;
}
.footer__section__title {
  padding-bottom: 10px;
}
.footer__section__link {
  color: var(--primary-color);
  text-decoration: none;
  line-height: 30px;
  list-style: none;
}
.footer__section__link:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.footer__social__icon {
  color: var(--primary-color);
  font-size: 1.5rem;
  transition: 0.4s;
}
.footer__social__icon:hover {
  transform: scale(1.3);
  opacity: 50%;
}

/*DESKTOP DESIGN*/
@media (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .navbar__icons-menu,
  .navbar__icons,
  .navbar__menu {
    display: none;
  }
}

/*RESPONSIVE DESIGN*/
@media (max-width: 600px) {
  .container {
    min-width: 400px;
  }
  .navbar {
    position: fixed;
    width: 100%;
    padding: 1rem 1.5rem;
  }
  .navbar:has(.navbar__menu:target) {
    --icon--bars: scale(0);
    --icon--xmark: scale(1);
  }
  .navbar__icons {
    padding-left: 1rem;
  }
  .navbar__icon--lupa2 {
    display: none;
  }
  .navbar__icon-gear-desktop,
  .navbar__icon-user-desktop {
    transform: scale(0);
  }
  .navbar__title {
    font-size: 1.3rem;
  }
  .sidebar {
    margin-top: 3rem;
  }
  .navbar__placeholder {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .navbar__icons-menu {
    position: relative;
    z-index: 10;
  }
  .navbar__icon--xmark {
    position: absolute;
    top: -11px;
    left: 0;
    transform: var(--icon--xmark);
  }
  .navbar__icon--bars {
    position: absolute;
    top: -11px;
    left: 0;
    transform: var(--icon--bars);
  }
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main"
      "section"
      "footer";
  }
  .main {
    margin-top: 5rem;
  }
  .navbar__menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    text-align: center;
    gap: 3rem;
    text-transform: uppercase;
    margin-top: 5.2rem;
    clip-path: circle(0% at top right);
    transition: linear 0.5s;
    background-color: black;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  }
  .navbar__link {
    text-decoration: none;
  }
  .navbar__link {
    color: var(--primary-color);
  }
  .navbar__menu:target {
    clip-path: circle(100% at top right);
  }
  .footer__logo {
    margin-bottom: 20px;
  }
  .footer__social {
    justify-content: center;
    margin-top: 40px;
  }
}

@media (max-width: 500px) {
  .navbar__title {
    font-size: 0.8rem;
  }
}
