* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-image: linear-gradient(
    to top,
    #d5d4d0 0%,
    #d5d4d0 1%,
    #eeeeec 31%,
    #efeeec 75%,
    #e9e9e7 100%
  );
}
.container {
  display: grid;
  grid-template-areas: "navbar navbar";
}
.navbar {
  grid-area: navbar;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  opacity: 90%;
  padding: 1.3rem 2rem;
}
.navbar__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 6rem;
}
.navbar__input {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.navbar__placeholder {
  display: block;
  padding: 0.5rem;
  text-transform: uppercase;
}
.navbar__title {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
}
.navbar__icon {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
}
@media (min-width: 600px) {
  .navbar {
    display: flex;
    flex-direction: row;
  }
  .navbar__icons-menu,
  .navbar__icons {
    display: none;
  }
  .container {
    grid-template-areas: "navbar navbar";
  }
}
@media (max-width: 600px) {
  .navbar__input {
    display: none;
  }

  .sidebar__input--menu {
    display: none;
  }
  .navbar__icon--bars:active {
    color: blue;
  }
  .container {
    grid-template-areas: "navbar";
  }
}
